<h1> FeedForwad network Using tensorflow and keras tensorflow for covertype Dataset <h1>

In [1]:
#importing  imp librairies
import pandas as pd
import numpy as np

# Data Explore

In [2]:
# importing data
covtype = pd.read_csv("covtype.csv", sep=",")
covtype = covtype.reindex(
np.random.permutation(covtype.index)) # to sep by ',' and in correct column form

In [3]:
covtype.head() # see top 5 rows

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
224657,2944,45,1,323,97,1725,219,235,153,2491,...,1,0,0,0,0,0,0,0,0,2
296135,3079,82,30,323,-25,752,245,174,38,1795,...,0,0,0,0,0,0,0,0,0,2
159755,3159,71,11,582,26,5526,232,219,118,1544,...,0,0,0,0,0,0,0,0,0,1
17484,2614,83,6,30,2,644,229,230,135,6017,...,0,0,0,0,0,0,0,0,0,2
286918,2384,117,25,108,52,201,253,207,66,674,...,0,0,0,0,0,0,0,0,0,3

In [4]:
covtype.tail()# see las 5 rows

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
489081,3211,319,10,150,32,914,194,231,177,741,...,0,0,0,0,0,0,0,0,0,1
498044,3130,140,16,153,13,577,242,234,116,1661,...,1,0,0,0,0,0,0,0,0,2
106246,3073,65,15,402,-3,3933,233,209,105,3586,...,0,0,0,0,0,0,0,0,0,2
148627,3044,75,9,60,9,4805,232,223,123,671,...,0,0,0,0,0,0,0,0,0,1
439364,2942,313,8,127,7,1926,198,234,175,808,...,0,0,0,0,0,0,0,0,0,2

In [5]:
covtype.columns# see all columns names

Index(['Elevation', 'Aspect', 'Slope', 'Horizontal_Distance_To_Hydrology',
       'Vertical_Distance_To_Hydrology', 'Horizontal_Distance_To_Roadways',
       'Hillshade_9am', 'Hillshade_Noon', 'Hillshade_3pm',
       'Horizontal_Distance_To_Fire_Points', 'Wilderness_Area1',
       'Wilderness_Area2', 'Wilderness_Area3', 'Wilderness_Area4',
       'Soil_Type1', 'Soil_Type2', 'Soil_Type3', 'Soil_Type4', 'Soil_Type5',
       'Soil_Type6', 'Soil_Type7', 'Soil_Type8', 'Soil_Type9', 'Soil_Type10',
       'Soil_Type11', 'Soil_Type12', 'Soil_Type13', 'Soil_Type14',
       'Soil_Type15', 'Soil_Type16', 'Soil_Type17', 'Soil_Type18',
       'Soil_Type19', 'Soil_Type20', 'Soil_Type21', 'Soil_Type22',
       'Soil_Type23', 'Soil_Type24', 'Soil_Type25', 'Soil_Type26',
       'Soil_Type27', 'Soil_Type28', 'Soil_Type29', 'Soil_Type30',
       'Soil_Type31', 'Soil_Type32', 'Soil_Type33', 'Soil_Type34',
       'Soil_Type35', 'Soil_Type36', 'Soil_Type37', 'Soil_Type38',
       'Soil_Type39', 'Soil_Type40', 'Cover_Type'],
      dtype='object')

In [6]:
covtype.shape # see column and rows

(581012, 55)

In [7]:
covtype.describe(include='all') # statistical describtion

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
count,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,...,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000
mean,2959.365301,155.656807,14.103704,269.428217,46.418855,2350.146611,212.146049,223.318716,142.528263,1980.291226,...,0.090392,0.077716,0.002773,0.003255,0.000205,0.000513,0.026803,0.023762,0.015060,2.051471
std,279.984734,111.913721,7.488242,212.549356,58.295232,1559.254870,26.769889,19.768697,38.274529,1324.195210,...,0.286743,0.267725,0.052584,0.056957,0.014310,0.022641,0.161508,0.152307,0.121791,1.396504
min,1859.000000,0.000000,0.000000,0.000000,-173.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2809.000000,58.000000,9.000000,108.000000,7.000000,1106.000000,198.000000,213.000000,119.000000,1024.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,2996.000000,127.000000,13.000000,218.000000,30.000000,1997.000000,218.000000,226.000000,143.000000,1710.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,3163.000000,260.000000,18.000000,384.000000,69.000000,3328.000000,231.000000,237.000000,168.000000,2550.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
max,3858.000000,360.000000,66.000000,1397.000000,601.000000,7117.000000,254.000000,254.000000,254.000000,7173.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000

In [11]:
print (covtype.isnull().sum()) # see null values

Elevation                             0
Aspect                                0
Slope                                 0
Horizontal_Distance_To_Hydrology      0
Vertical_Distance_To_Hydrology        0
Horizontal_Distance_To_Roadways       0
Hillshade_9am                         0
Hillshade_Noon                        0
Hillshade_3pm                         0
Horizontal_Distance_To_Fire_Points    0
Wilderness_Area1                      0
Wilderness_Area2                      0
Wilderness_Area3                      0
Wilderness_Area4                      0
Soil_Type1                            0
Soil_Type2                            0
Soil_Type3                            0
Soil_Type4                            0
Soil_Type5                            0
Soil_Type6                            0
Soil_Type7                            0
Soil_Type8                            0
Soil_Type9                            0
Soil_Type10                           0
Soil_Type11                           0
Soil_Type12                           0
Soil_Type13                           0
Soil_Type14                           0
Soil_Type15                           0
Soil_Type16                           0
Soil_Type17                           0
Soil_Type18                           0
Soil_Type19                           0
Soil_Type20                           0
Soil_Type21                           0
Soil_Type22                           0
Soil_Type23                           0
Soil_Type24                           0
Soil_Type25                           0
Soil_Type26                           0
Soil_Type27                           0
Soil_Type28                           0
Soil_Type29                           0
Soil_Type30                           0
Soil_Type31                           0
Soil_Type32                           0
Soil_Type33                           0
Soil_Type34                           0
Soil_Type35                           0
Soil_Type36                           0
Soil_Type37                           0
Soil_Type38                           0
Soil_Type39                           0
Soil_Type40                           0
Cover_Type                            0
dtype: int64

In [12]:
covtype.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 581012 entries, 224657 to 439364
Data columns (total 55 columns):
Elevation                             581012 non-null int64
Aspect                                581012 non-null int64
Slope                                 581012 non-null int64
Horizontal_Distance_To_Hydrology      581012 non-null int64
Vertical_Distance_To_Hydrology        581012 non-null int64
Horizontal_Distance_To_Roadways       581012 non-null int64
Hillshade_9am                         581012 non-null int64
Hillshade_Noon                        581012 non-null int64
Hillshade_3pm                         581012 non-null int64
Horizontal_Distance_To_Fire_Points    581012 non-null int64
Wilderness_Area1                      581012 non-null int64
Wilderness_Area2                      581012 non-null int64
Wilderness_Area3                      581012 non-null int64
Wilderness_Area4                      581012 non-null int64
Soil_Type1                            581012 non-null int64
Soil_Type2                            581012 non-null int64
Soil_Type3                            581012 non-null int64
Soil_Type4                            581012 non-null int64
Soil_Type5                            581012 non-null int64
Soil_Type6                            581012 non-null int64
Soil_Type7                            581012 non-null int64
Soil_Type8                            581012 non-null int64
Soil_Type9                            581012 non-null int64
Soil_Type10                           581012 non-null int64
Soil_Type11                           581012 non-null int64
Soil_Type12                           581012 non-null int64
Soil_Type13                           581012 non-null int64
Soil_Type14                           581012 non-null int64
Soil_Type15                           581012 non-null int64
Soil_Type16                           581012 non-null int64
Soil_Type17                           581012 non-null int64
Soil_Type18                           581012 non-null int64
Soil_Type19                           581012 non-null int64
Soil_Type20                           581012 non-null int64
Soil_Type21                           581012 non-null int64
Soil_Type22                           581012 non-null int64
Soil_Type23                           581012 non-null int64
Soil_Type24                           581012 non-null int64
Soil_Type25                           581012 non-null int64
Soil_Type26                           581012 non-null int64
Soil_Type27                           581012 non-null int64
Soil_Type28                           581012 non-null int64
Soil_Type29                           581012 non-null int64
Soil_Type30                           581012 non-null int64
Soil_Type31                           581012 non-null int64
Soil_Type32                           581012 non-null int64
Soil_Type33                           581012 non-null int64
Soil_Type34                           581012 non-null int64
Soil_Type35                           581012 non-null int64
Soil_Type36                           581012 non-null int64
Soil_Type37                           581012 non-null int64
Soil_Type38                           581012 non-null int64
Soil_Type39                           581012 non-null int64
Soil_Type40                           581012 non-null int64
Cover_Type                            581012 non-null int64
dtypes: int64(55)
memory usage: 248.2 MB

In [ ]:
# hence we have no null values, data is very clean , so we have to move towards algorithm and deep learning

# TensorFlow with Keras Api

In [13]:
covtype['Cover_Type'].unique() # see unique attributes in covertype column

array([2, 1, 3, 5, 6, 7, 4], dtype=int64)

<b> as we have to use cover_type column to classify whether having seven different values, must have to convert them in categorize way <b>

In [14]:
covtype['Cover_Type']=covtype['Cover_Type'].astype('category') # convert to categorical datatype for multiple output prediction

In [15]:
covtype['Cover_Type'].dtype

CategoricalDtype(categories=[1, 2, 3, 4, 5, 6, 7], ordered=False)

In [ ]:
#Data divide in x, y , x will be independent variables and y the output/predicted variable

In [16]:
X = covtype.loc[:,'Elevation':'Soil_Type40'] #select first 54 columns
X.head()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
224657,2944,45,1,323,97,1725,219,235,153,2491,...,0,1,0,0,0,0,0,0,0,0
296135,3079,82,30,323,-25,752,245,174,38,1795,...,0,0,0,0,0,0,0,0,0,0
159755,3159,71,11,582,26,5526,232,219,118,1544,...,0,0,0,0,0,0,0,0,0,0
17484,2614,83,6,30,2,644,229,230,135,6017,...,0,0,0,0,0,0,0,0,0,0
286918,2384,117,25,108,52,201,253,207,66,674,...,0,0,0,0,0,0,0,0,0,0

In [17]:
Y=covtype.Cover_Type
Y.tail() # y=covertype# dependent column

489081    1
498044    2
106246    2
148627    1
439364    2
Name: Cover_Type, dtype: category
Categories (7, int64): [1, 2, 3, 4, 5, 6, 7]

# One hot encoding
<b> must have to convert in one hot encoding for easiness  </b>

In [18]:
dummies= pd.get_dummies(Y)

In [19]:
Y.drop_duplicates()
# just see total once attributes, actually not doing so

224657    2
159755    1
286918    3
362039    5
238830    6
473376    7
3378      4
Name: Cover_Type, dtype: category
Categories (7, int64): [1, 2, 3, 4, 5, 6, 7]

In [20]:
one_hot_code=dummies # assign dataset to one_hot_code

#one_hot_code=covtype
one_hot_code.tail()

Cover_Type  1  2  3  4  5  6  7
489081      1  0  0  0  0  0  0
498044      0  1  0  0  0  0  0
106246      0  1  0  0  0  0  0
148627      1  0  0  0  0  0  0
439364      0  1  0  0  0  0  0

In [21]:
Y=one_hot_code
Y.tail() # assign it back to Y as dependent variable, will use for tarining and testing

Cover_Type  1  2  3  4  5  6  7
489081      1  0  0  0  0  0  0
498044      0  1  0  0  0  0  0
106246      0  1  0  0  0  0  0
148627      1  0  0  0  0  0  0
439364      0  1  0  0  0  0  0

In [31]:
# splitting data 30% test, 70% train randomly
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y, test_size=0.3, random_state=0)
#feature scale
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [33]:
# after splitting
print(len(X_test))
print(len(X_train))

174304
406708

# method 1

# Tensorflow with keras Api important libraries

In [34]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam,SGD
from keras.utils import to_categorical
y_binary = to_categorical(Y)

# with First regularisation

In [35]:

model = Sequential() #  select the model, call object model
model.add(Dense(16, activation='relu', input_shape=(54,))) # input layer= 54 input as dependent, 16 neurons, activation rule=relu
# mostly 95% relu use, it dont pass 0 value
model.add(Dense(8, activation='relu', input_shape=(54,))) # hidden layer 8
model.add(Dense(7, activation='softmax')) # output layer ,the SoftMax is to used to convert the output values into zero or ones

In [36]:
# train, test = train_test_split(dataframe, test_size=0.2)
# train, val = train_test_split(train, test_size=0.2)
# print(len(train), 'train examples')
# print(len(val), 'validation examples')
# print(len(test), 'test examples')

In [37]:
model.summary() # summarry of model

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 16)                880
_________________________________________________________________
dense_4 (Dense)              (None, 8)                 136
_________________________________________________________________
dense_5 (Dense)              (None, 7)                 63
=================================================================
Total params: 1,079
Trainable params: 1,079
Non-trainable params: 0
_________________________________________________________________

In [38]:

model.compile(optimizer=SGD(lr=0.002),            # optimizer=how to get accuracy on data , SGD optimizer is used here
             loss='categorical_crossentropy',     # its a multi classification so we are using categorial crossentropy
             metrics=['acc'])

In [39]:
model.fit(X_train,Y_train, epochs=10)  # fitting model

Train on 406708 samples
Epoch 1/10
406708/406708 [==============================] - 21s 52us/sample - loss: 0.9256 - acc: 0.6138
Epoch 2/10
406708/406708 [==============================] - 21s 51us/sample - loss: 0.6963 - acc: 0.7198
Epoch 3/10
406708/406708 [==============================] - 21s 53us/sample - loss: 0.6628 - acc: 0.7291
Epoch 4/10
406708/406708 [==============================] - 21s 51us/sample - loss: 0.6455 - acc: 0.7337
Epoch 5/10
406708/406708 [==============================] - 21s 53us/sample - loss: 0.6338 - acc: 0.7373
Epoch 6/10
406708/406708 [==============================] - 21s 52us/sample - loss: 0.6247 - acc: 0.7403
Epoch 7/10
406708/406708 [==============================] - 22s 54us/sample - loss: 0.6173 - acc: 0.7431
Epoch 8/10
406708/406708 [==============================] - 20s 50us/sample - loss: 0.6105 - acc: 0.7453
Epoch 9/10
406708/406708 [==============================] - 21s 52us/sample - loss: 0.6043 - acc: 0.7467
Epoch 10/10
406708/406708 [==============================] - 23s 57us/sample - loss: 0.5996 - acc: 0.7478

<b> with lr=0.2, and hidden input layer 32 nuerons and 16 in hidden layer giving accuracy of 74% , lets change and see more once <b>

# with Second regularisation

In [40]:

model = Sequential() #  select the model, call object model
model.add(Dense(32, activation='relu', input_shape=(54,))) # input layer= 54 input as dependent, 32 neurons, activation rule=relu
# mostly 95% relu use, it dont pass 0 value
model.add(Dense(16, activation='relu', input_shape=(54,))) # hidden layer 16 nuerons are use
model.add(Dense(7, activation='softmax')) # output layer ,the SoftMax is to used to convert the output values into zero or ones

In [41]:

model.compile(optimizer=SGD(lr=0.08),            # optimizer=how to get accuracy on data , SGD optimizer is used here
             loss='categorical_crossentropy',     # its a multi classification so we are using categorial crossentropy
             metrics=['acc'])

In [42]:
model.fit(X_train,Y_train, epochs=10)  # fitting model

Train on 406708 samples
Epoch 1/10
406708/406708 [==============================] - 20s 49us/sample - loss: 0.5865 - acc: 0.7494
Epoch 2/10
406708/406708 [==============================] - 20s 50us/sample - loss: 0.5171 - acc: 0.7790
Epoch 3/10
406708/406708 [==============================] - 22s 55us/sample - loss: 0.4929 - acc: 0.7906
Epoch 4/10
406708/406708 [==============================] - 19s 46us/sample - loss: 0.4787 - acc: 0.7975
Epoch 5/10
406708/406708 [==============================] - 20s 49us/sample - loss: 0.4704 - acc: 0.8012
Epoch 6/10
406708/406708 [==============================] - 18s 44us/sample - loss: 0.4640 - acc: 0.8040
Epoch 7/10
406708/406708 [==============================] - 18s 44us/sample - loss: 0.4631 - acc: 0.8055
Epoch 8/10
406708/406708 [==============================] - 18s 45us/sample - loss: 0.4710 - acc: 0.8023
Epoch 9/10
406708/406708 [==============================] - 18s 45us/sample - loss: 0.4604 - acc: 0.8054
Epoch 10/10
406708/406708 [==============================] - 18s 43us/sample - loss: 0.4546 - acc: 0.8097

<b> its better than previous, giving 80% accuracy with 16 nuerons used at input layer and 8 used in hidden layer <b>

# with Third regularisation

In [43]:

model = Sequential() #  select the model, call object model
model.add(Dense(8, activation='relu', input_shape=(54,))) # input layer= 54 input as dependent, 8 neurons, activation rule=relu
# mostly 95% relu use, it dont pass 0 value
model.add(Dense(4, activation='relu', input_shape=(54,))) # hidden layer  contains 8 nueron
model.add(Dense(7, activation='softmax')) # output layer ,the SoftMax is to used to convert the output values into zero or ones

In [44]:

model.compile(optimizer=SGD(lr=0.01),            # optimizer=how to get accuracy on data , SGD optimizer is used here
             loss='categorical_crossentropy',     # its a multi classification so we are using categorial crossentropy
             metrics=['acc'])

In [45]:
model.fit(X_train,Y_train, epochs=10)  # fitting model

Train on 406708 samples
Epoch 1/10
406708/406708 [==============================] - 20s 49us/sample - loss: 0.9065 - acc: 0.6552
Epoch 2/10
406708/406708 [==============================] - 20s 49us/sample - loss: 0.6914 - acc: 0.7191
Epoch 3/10
406708/406708 [==============================] - 20s 48us/sample - loss: 0.6681 - acc: 0.7277
Epoch 4/10
406708/406708 [==============================] - 21s 51us/sample - loss: 0.6570 - acc: 0.7315
Epoch 5/10
406708/406708 [==============================] - 20s 49us/sample - loss: 0.6490 - acc: 0.7336
Epoch 6/10
406708/406708 [==============================] - 21s 52us/sample - loss: 0.6436 - acc: 0.7342
Epoch 7/10
406708/406708 [==============================] - 21s 52us/sample - loss: 0.6385 - acc: 0.7351
Epoch 8/10
406708/406708 [==============================] - 22s 55us/sample - loss: 0.6330 - acc: 0.7367
Epoch 9/10
406708/406708 [==============================] - 22s 53us/sample - loss: 0.6286 - acc: 0.7381
Epoch 10/10
406708/406708 [==============================] - 22s 55us/sample - loss: 0.6259 - acc: 0.7384

<b> giving 73% accuracy with 8 nuerons used at input layer and 4 used in hidden layer, which is less than above case <b>

# with Fourth regularisation

In [48]:

model = Sequential() #  select the model, call object model
model.add(Dense(64, activation='relu', input_shape=(54,))) # input layer= 54 input as dependent, 64 neurons, activation rule=relu
# mostly 95% relu use, it dont pass 0 value
model.add(Dense(32, activation='relu', input_shape=(54,))) # hidden layer  contains 32 nueron
model.add(Dense(7, activation='softmax')) # output layer ,the SoftMax is to used to convert the output values into zero or ones

In [49]:

model.compile(optimizer=SGD(lr=0.04),            # optimizer=how to get accuracy on data , SGD optimizer is used here
             loss='categorical_crossentropy',     # its a multi classification so we are using categorial crossentropy
             metrics=['acc'])

In [50]:
model.fit(X_train,Y_train, epochs=10)  # fitting model

Train on 406708 samples
Epoch 1/10
406708/406708 [==============================] - 29s 72us/sample - loss: 0.5850 - acc: 0.7507
Epoch 2/10
406708/406708 [==============================] - 30s 73us/sample - loss: 0.4935 - acc: 0.7879
Epoch 3/10
406708/406708 [==============================] - 29s 72us/sample - loss: 0.4555 - acc: 0.8056
Epoch 4/10
406708/406708 [==============================] - ETA: 0s - loss: 0.4318 - acc: 0.817 - 30s 74us/sample - loss: 0.4318 - acc: 0.8170
Epoch 5/10
406708/406708 [==============================] - 30s 73us/sample - loss: 0.4144 - acc: 0.8261
Epoch 6/10
406708/406708 [==============================] - 32s 78us/sample - loss: 0.4018 - acc: 0.8311
Epoch 7/10
406708/406708 [==============================] - 29s 71us/sample - loss: 0.3916 - acc: 0.8357
Epoch 8/10
406708/406708 [==============================] - 29s 70us/sample - loss: 0.3846 - acc: 0.8388
Epoch 9/10
406708/406708 [==============================] - 29s 72us/sample - loss: 0.3784 - acc: 0.8426
Epoch 10/10
406708/406708 [==============================] - 29s 72us/sample - loss: 0.3724 - acc: 0.8447

<b> giving 84% accuracy with 64 nuerons used at input layer and 32 used in hidden layer <b>

# with Fifth regularisation

In [51]:

model = Sequential() #  select the model, call object model
model.add(Dense(128, activation='relu', input_shape=(54,))) # input layer= 54 input as dependent, 128 neurons, activation rule=relu
# mostly 95% relu use, it dont pass 0 value
model.add(Dense(64, activation='relu', input_shape=(54,))) # hidden layer  contains 64 nueron
model.add(Dense(7, activation='softmax')) # output layer ,the SoftMax is to used to convert the output values into zero or ones

In [52]:

model.compile(optimizer=SGD(lr=0.06),            # optimizer=how to get accuracy on data , SGD optimizer is used here
             loss='categorical_crossentropy',     # its a multi classification so we are using categorial crossentropy
             metrics=['acc'])

In [53]:
model.fit(X_train,Y_train, epochs=10)  # fitting model

Train on 406708 samples
Epoch 1/10
406708/406708 [==============================] - 35s 86us/sample - loss: 0.5539 - acc: 0.7628
Epoch 2/10
406708/406708 [==============================] - 29s 71us/sample - loss: 0.4483 - acc: 0.8088s
Epoch 3/10
406708/406708 [==============================] - 28s 69us/sample - loss: 0.4043 - acc: 0.8298
Epoch 4/10
406708/406708 [==============================] - 29s 72us/sample - loss: 0.3765 - acc: 0.8421
Epoch 5/10
406708/406708 [==============================] - 31s 76us/sample - loss: 0.3561 - acc: 0.8518
Epoch 6/10
406708/406708 [==============================] - 32s 79us/sample - loss: 0.3420 - acc: 0.8581
Epoch 7/10
406708/406708 [==============================] - 35s 85us/sample - loss: 0.3294 - acc: 0.8642
Epoch 8/10
406708/406708 [==============================] - 34s 83us/sample - loss: 0.3194 - acc: 0.8686
Epoch 9/10
406708/406708 [==============================] - 31s 77us/sample - loss: 0.3108 - acc: 0.8718
Epoch 10/10
406708/406708 [==============================] - 32s 78us/sample - loss: 0.3043 - acc: 0.8756

<b>  giving 87% accuracy with 128 nuerons used at input layer and 64 used in hidden layer, Better than previous <b>

# with Sixth regularisation

In [54]:

model = Sequential() #  select the model, call object model
model.add(Dense(128, activation='relu', input_shape=(54,))) # input layer= 54 input as dependent, 128 neurons, activation rule=relu
# mostly 95% relu use, it dont pass 0 value
model.add(Dense(64, activation='relu', input_shape=(54,))) # hidden layer  contains 64 nueron
model.add(Dense(7, activation='softmax')) # output layer ,the SoftMax is to used to convert the output values into zero or ones

In [55]:

model.compile(optimizer=SGD(lr=0.07),            # optimizer=how to get accuracy on data , SGD optimizer is used here
             loss='categorical_crossentropy',     # its a multi classification so we are using categorial crossentropy
             metrics=['acc'])

In [56]:
model.fit(X_train,Y_train, epochs=10)  # fitting model

Train on 406708 samples
Epoch 1/10
406708/406708 [==============================] - 30s 75us/sample - loss: 0.5521 - acc: 0.7633
Epoch 2/10
406708/406708 [==============================] - 31s 76us/sample - loss: 0.4441 - acc: 0.8120
Epoch 3/10
406708/406708 [==============================] - 31s 75us/sample - loss: 0.3987 - acc: 0.8331
Epoch 4/10
406708/406708 [==============================] - 32s 78us/sample - loss: 0.3712 - acc: 0.8456
Epoch 5/10
406708/406708 [==============================] - 31s 75us/sample - loss: 0.3524 - acc: 0.8541
Epoch 6/10
406708/406708 [==============================] - 32s 78us/sample - loss: 0.3387 - acc: 0.8604
Epoch 7/10
406708/406708 [==============================] - 31s 77us/sample - loss: 0.3274 - acc: 0.8656
Epoch 8/10
406708/406708 [==============================] - 52s 128us/sample - loss: 0.3181 - acc: 0.8699
Epoch 9/10
406708/406708 [==============================] - 46s 112us/sample - loss: 0.3099 - acc: 0.8729
Epoch 10/10
406708/406708 [==============================] - 33s 81us/sample - loss: 0.3027 - acc: 0.8767

<b> so max accuracy of 87.67 we can get by 128 nurons in input layer and 64 at hidden layer with lr=0.07 <b>

# prediction By Xtest data to generate Ytest data

In [60]:
prediction=Y.columns.take(np.argmax(model.predict(X_test), axis=1))

In [62]:
prediction

CategoricalIndex([7, 7, 1, 1, 2, 2, 1, 2, 1, 2,
                  ...
                  2, 2, 2, 2, 3, 2, 2, 3, 1, 2],
                 categories=[1, 2, 3, 4, 5, 6, 7], ordered=False, name='Cover_Type', dtype='category', length=174304)

In [ ]:
# this was all about method 1 of Tensorflow with Keras Api

# Method 2

# Plain Tensorflow